﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Вітаємо!</h1>
    <p><a asp-controller="BriefDatas" asp-action="Create">Створити запит на розробку вебсайту</a>.</p>
</div>
