﻿@model Brief.Models.BriefData

@{
    ViewData["Title"] = "Edit";
}

<h1>Брифінг форма від @Html.DisplayFor(model => model.Customer)</h1>

<div class="row">
    <div class="col-md-8">
        <p><a asp-action="Download" asp-route-id="@Model.Id">Завантажити PDF</a></p>

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <dt class="mt-4">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastModifiedDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastModifiedDate)
            </dd>

            <h2 class="mt-4">Замовник</h2>
            <div class="form-group mt-2">
                <label asp-for="Customer" class="control-label"></label>
                <textarea asp-for="Customer" class="form-control"></textarea>
                <span asp-validation-for="Customer" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Contacts" class="control-label"></label>
                <textarea asp-for="Contacts" class="form-control"></textarea>
                <span asp-validation-for="Contacts" class="text-danger"></span>
            </div>

            <h2 class="mt-4">Завдання сайту</h2>
            <div class="form-group mt-2">
                <label asp-for="HaveWebSite" class="control-label"></label>
                <textarea asp-for="HaveWebSite" class="form-control"></textarea>
                <span asp-validation-for="HaveWebSite" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="FinalGoals" class="control-label"></label>
                <textarea asp-for="FinalGoals" class="form-control"></textarea>
                <span asp-validation-for="FinalGoals" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="AdditionalGoals" class="control-label"></label>
                <textarea asp-for="AdditionalGoals" class="form-control"></textarea>
                <span asp-validation-for="AdditionalGoals" class="text-danger"></span>
            </div>

            <h2 class="mt-4">Особливості бізнесу</h2>
            <div class="form-group mt-2">
                <label asp-for="Niche" class="control-label"></label>
                <textarea asp-for="Niche" class="form-control"></textarea>
                <span asp-validation-for="Niche" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="GrowthPoints" class="control-label"></label>
                <textarea asp-for="GrowthPoints" class="form-control"></textarea>
                <span asp-validation-for="GrowthPoints" class="text-danger"></span>
            </div>

            <h2 class="mt-4">Конкуренти</h2>
            <div class="form-group mt-2">
                <label asp-for="Uniqueness" class="control-label"></label>
                <textarea asp-for="Uniqueness" class="form-control"></textarea>
                <span asp-validation-for="Uniqueness" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Examples" class="control-label"></label>
                <textarea asp-for="Examples" class="form-control"></textarea>
                <span asp-validation-for="Examples" class="text-danger"></span>
            </div>

            <h2 class="mt-4">Цільова аудиторія</h2>
            <div class="form-group mt-2">
                <label asp-for="DemographicData" class="control-label"></label>
                <textarea asp-for="DemographicData" class="form-control"></textarea>
                <span asp-validation-for="DemographicData" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="PerfectClient" class="control-label"></label>
                <textarea asp-for="PerfectClient" class="form-control"></textarea>
                <span asp-validation-for="PerfectClient" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ProblemsAndMotives" class="control-label"></label>
                <textarea asp-for="ProblemsAndMotives" class="form-control"></textarea>
                <span asp-validation-for="ProblemsAndMotives" class="text-danger"></span>
            </div>

            <h2 class="mt-4">Уподобання в дизайні</h2>
            <div class="form-group mt-2">
                <label asp-for="BrendElements" class="control-label"></label>
                <textarea asp-for="BrendElements" class="form-control"></textarea>
                <span asp-validation-for="BrendElements" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="LikeAndDoNotLikeExamples" class="control-label"></label>
                <textarea asp-for="LikeAndDoNotLikeExamples" class="form-control"></textarea>
                <span asp-validation-for="LikeAndDoNotLikeExamples" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Emotions" class="control-label"></label>
                <textarea asp-for="Emotions" class="form-control"></textarea>
                <span asp-validation-for="Emotions" class="text-danger"></span>
            </div>

            <h2 class="mt-4">Брендинг</h2>
            <div class="form-group mt-2">
                <label asp-for="BrendBook" class="control-label"></label>
                <textarea asp-for="BrendBook" class="form-control"></textarea>
                <span asp-validation-for="BrendBook" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Ideas" class="control-label"></label>
                <textarea asp-for="Ideas" class="form-control"></textarea>
                <span asp-validation-for="Ideas" class="text-danger"></span>
            </div>

            <h2 class="mt-4">Контент</h2>
            <div class="form-group mt-2">
                <label asp-for="Copyright" class="control-label"></label>
                <textarea asp-for="Copyright" class="form-control"></textarea>
                <span asp-validation-for="Copyright" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ClientMaterials" class="control-label"></label>
                <textarea asp-for="ClientMaterials" class="form-control"></textarea>
                <span asp-validation-for="ClientMaterials" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="PaidOrFree" class="control-label"></label>
                <textarea asp-for="PaidOrFree" class="form-control"></textarea>
                <span asp-validation-for="PaidOrFree" class="text-danger"></span>
            </div>

            <h2 class="mt-4">Можливості</h2>
            <div class="form-group mt-2">
                <label asp-for="List" class="control-label"></label>
                <textarea asp-for="List" class="form-control"></textarea>
                <span asp-validation-for="List" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ReadyIntegrations" class="control-label"></label>
                <textarea asp-for="ReadyIntegrations" class="form-control"></textarea>
                <span asp-validation-for="ReadyIntegrations" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="FeaturesToContactWithClient" class="control-label"></label>
                <textarea asp-for="FeaturesToContactWithClient" class="form-control"></textarea>
                <span asp-validation-for="FeaturesToContactWithClient" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Blog" class="control-label"></label>
                <textarea asp-for="Blog" class="form-control"></textarea>
                <span asp-validation-for="Blog" class="text-danger"></span>
            </div>

            <h2 class="mt-4">Навігація та карта сайту</h2>
            <div class="form-group mt-2">
                <label asp-for="ClientPath" class="control-label"></label>
                <textarea asp-for="ClientPath" class="form-control"></textarea>
                <span asp-validation-for="ClientPath" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Pages" class="control-label"></label>
                <textarea asp-for="Pages" class="form-control" placeholder="Приклад: Про нас (унікальна), команда (унікальна), сторінка послуги 'Експрес - курс', сторінка послуги 'Інтенсив' (типова, структурно така сама як “Експрес-курс”, але з іншим контентом).">
                </textarea>
                <span asp-validation-for="Pages" class="text-danger"></span>
            </div>

            <h2 class="mt-4">Головна сторінка</h2>
            <div class="form-group mt-2">
                <label asp-for="MinimalisticOrDetailed" class="control-label"></label>
                <textarea asp-for="MinimalisticOrDetailed" class="form-control"></textarea>
                <span asp-validation-for="MinimalisticOrDetailed" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Functions" class="control-label"></label>
                <textarea asp-for="Functions" class="form-control"></textarea>
                <span asp-validation-for="Functions" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <h2 class="mt-4">Бюджет і терміни</h2>
            <div class="form-group mt-2">
                <label asp-for="BudgetAndDeadlines1" class="control-label"></label>
                <textarea asp-for="BudgetAndDeadlines1" class="form-control"></textarea>
                <span asp-validation-for="BudgetAndDeadlines1" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="HelpAfterRelease" class="control-label"></label>
                <textarea asp-for="HelpAfterRelease" class="form-control"></textarea>
                <span asp-validation-for="HelpAfterRelease" class="text-danger"></span>
            </div>

            <h2 class="mt-4">Прийом робіт</h2>
            <div class="form-group mt-2">
                <label asp-for="ContactPerson" class="control-label"></label>
                <textarea asp-for="ContactPerson" class="form-control"></textarea>
                <span asp-validation-for="ContactPerson" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ContactStages" class="control-label"></label>
                <textarea asp-for="ContactStages" class="form-control"></textarea>
                <span asp-validation-for="ContactStages" class="text-danger"></span>
            </div>

            <h2 class="mt-4">Запуск сайту</h2>
            <div class="form-group mt-2">
                <label asp-for="IsDeployNeeded" class="control-label"></label>
                <textarea asp-for="IsDeployNeeded" class="form-control"></textarea>
                <span asp-validation-for="IsDeployNeeded" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Domain" class="control-label"></label>
                <textarea asp-for="Domain" class="form-control"></textarea>
                <span asp-validation-for="Domain" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
