﻿@model Brief.Models.BriefData

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div>
    <h4>BriefData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HaveWebSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HaveWebSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalGoals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalGoals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalGoals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalGoals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Niche)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Niche)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrowthPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrowthPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uniqueness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uniqueness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Examples)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Examples)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DemographicData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DemographicData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerfectClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerfectClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProblemsAndMotives)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProblemsAndMotives)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrendElements)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrendElements)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LikeAndDoNotLikeExamples)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LikeAndDoNotLikeExamples)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emotions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emotions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrendBook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrendBook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ideas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ideas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Copyright)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Copyright)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientMaterials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientMaterials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaidOrFree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaidOrFree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.List)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.List)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReadyIntegrations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReadyIntegrations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeaturesToContactWithClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeaturesToContactWithClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Blog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Blog)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimalisticOrDetailed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimalisticOrDetailed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Functions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Functions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetAndDeadlines1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BudgetAndDeadlines1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HelpAfterRelease)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HelpAfterRelease)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactStages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactStages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeployNeeded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeployNeeded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Domain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Domain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
