﻿body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    padding: 5px;
}

ul,
ul ul {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

    ul ul {
        padding-left: 40px;
    }

li {
    margin-bottom: 10px;
}

.created-date,
.last-modified-date {
    margin-bottom: 10px;
    color: #666;
}
